.CampaignContainer {
    max-width: 600px;
    width : 66%;

  .CampaignTitle {
    font-size: 16px;
    color: $grey;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .Campaign {
    display: flex;
    margin: 10px 0;
    height: 114px;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    border-radius: 3px;

    .ImageContainer {
      .Image {
        border-radius: 3px 0 0 3px;
        object-fit: cover;
      }
    }

    .MainInfo {
      width: 35%;
      padding: 20px;

      .Influencers {
        color: $main-color;
        padding: 1px 0;
      }
      .Name {
        color: $grey;
        font-size: 16px;
        padding: 1px 0;
      }
    }

    .Statistics {
      margin: auto;
      .Stat {
        margin: 5px;

        .StatValue {
          color: $main-color;
          font-size: 18px;
          text-align: center;
        }

        .StatName {
          font-size: 8px;
          color: #8d8d8d;
          text-align: center;
        }
      }
    }
  }
}
