body {
    font-family: 'Lato', sans-serif;
}

.App{
    height : 100vh;
    width : 100vw;
}



.Link {
    text-decoration: none;
    font-size: 1em;
    color: $grey;
}

.Link:hover{
    color: red;
}

.Link:focus{
    color: orange;
}
